.chart-header-footer {
    position: relative;
    background-color: white;
    width: 100%;
    height: 35px;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chart-title-footer {
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
    text-transform: capitalize;
    font-size: 8pt;
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.chart-filters {
    position: relative;
    top: 4px;
    right: 6px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: table;
    float: right;
    background-color: #ffa91b;
    color: black;
    padding: 0 5px;
    width: 100px;
}

.chart-filters-text {
    position: relative;
    right: -2px;
}

.chart-filters-footer .chart-filters-text {
    font-size: 15px;
}

.chart-filters-footer.chart-filters {
    top: 7px;
    line-height: 12pt;
    padding: 3px;
    width: 60px;
}

.chart-filters.chart-filters-area, .chart-filters.chart-filters-causes {
    top: 7px;
    line-height: 12pt;
    padding: 3px;
    width: 23px;
}

.chart-filters-footer i, .chart-filters-area i, .chart-filters-causes i {
    font-size: 13pt;
}

.chart-filters-clean {
    float: right;
}

.close-item-filters {
    position: relative;
    z-index: 2000;
    width: 100%;
    text-align: center;
}

.close-item-icon {
    background-color: #666666;
    color: white;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    padding: 0px 10px;
    width: 40px;
    margin-left: -20px;
    left: 50%;
    position: absolute;
    cursor: pointer;
}

.grabbing {
    z-index: 10000;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
}

@media screen and (max-width: 1366px) {

    .chart-filters-footer .chart-filters-text {
        font-size: 8pt;
    }

    .chart-filters-footer.chart-filters {
        width: 45px;
    }

    .chart-title-footer {
        font-size: 7pt;
        width: 90px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }

    .close-item-icon {
        width: 30px;
        margin-left: -15px;
    }

}