[id^=chd-container]:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.grabbing {
    z-index: 10000;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
}

.chart-header {
    position: relative;
    background: #122330;
    color: white;
    width: 100%;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.chart-chevron {
    display: inline-block;
    position: absolute;
    top: -4px;
    left:35px;
}

.chart-drag-handle {
    display: inline-block;
    position: absolute;
    top: -1px;
    left:5px;
}

.chart-drag-handle i {
    font-size: 35px;
}

.chart-chevron i {
    font-size: 40px;
}

.chart-title {
    position: absolute;
    top: 7px;
    right: 10.5em;
    width: 100%;
}

.ui-draggable-dragging {
    background-color: yellow;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

@media screen and (max-width: 1366px) {

    .chart-header {
        height: 30px;
    }

}