/*Cookie Consent Begin*/
#cookieConsentWrapper {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 9999;
    width: 100%;
}

#cookieConsent {
    margin: 0 auto;
    width: 850px;
}

#cookieConsent > div {
    display: inline-block;
}

#cookieConsent div.cookieConsentOK {
    background-color: #ffa91b;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    margin: 0 10px 0 10px;
}
#cookieConsent div.cookieConsentOK:hover {
    background-color: #f9cb9c;
}

#cookieConsent div.cookieConsentDecline {
    background-color: #ffa91b;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
}
#cookieConsent div.cookieConsentDecline:hover {
    background-color: #f9cb9c;
}

@media screen and (max-width: 1366px) {

    #cookieConsentWrapper {
        font-size: 9px;
    }

    #cookieConsent {
        width: 570px;
    }

    #cookieConsent div.cookieConsentOK {
        padding: 0 10px;
    }

    #cookieConsent div.cookieConsentDecline {
        padding: 0 10px;
    }

    #cookieConsent div.cookieConsentDecline, #cookieConsent div.cookieConsentOK {
        padding: 0 10px;
    }

}

/*Cookie Consent End*/