.mapboxgl-popup{
    z-index: 10000;

}

#wgl-school-win{
    overflow-y: scroll;
    height: 200px;
}

.wgl-schools-selection-win {
    z-index: 1001;
    background-color: white;
    color: black;
    border-radius: 4px;
    white-space: nowrap;
    font: 12px 'Ubuntu', Arial, Helvetica, sans-serif !important;
}

#wgl-schools-win-context {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#wgl-schools-win-head {
    background-color: #122330;
    color: white;
    border-top: 3px solid #ffa91b;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.mapboxgl-popup-content {
    padding: 0 !important;
}

#wgl-schools-win-close {
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    color: #b7bdbb;
    font-size: 18pt;
}

@media screen and (max-width: 1366px) {

    .wgl-schools-selection-win {
        font: 9px 'Ubuntu', Arial, Helvetica, sans-serif !important;
    }

}