
.wgl-point-selection-win{
    position: absolute;
    visibility: hidden;
    z-index: 400;
    background-color: white;
    color: black;
    border-radius: 4px;
    white-space: nowrap;
}
.wgl-point-selection-win.wgl-active{
    visibility: visible;
}
#wgl-win-close{
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    color: #b7bdbb;
}
#wgl-point-win-head{
    text-align: center;
    background-color: #dce2e0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#wgl-point-win-context{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#triangle{
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 400;
    visibility: hidden;
}
#triangle.wgl-active{
    visibility: visible;
}